.test {
  width: 790px;
  height: 400px;
  margin : auto;
  padding: 95px;
  padding-top: 5px;
  border: 5px solid maroon;
  background-color: #A7F1FF;
  position: relative;
  top: 1%;
}

h1 {
  color: red;
  font-size: 270%;
}

body {
  background-color: #43FF6B;
  width: 1000px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}

.test p {
  font-size: 120%;
}

#question {
  width:800px;
  height:40px;
  font-size: 35px;
  font-weight: bold;
}

.test input {
  position: static;
  width:800px;
  height:45px;
  font-size: 35px;
}

#englishtest {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0px 20px;
  border: 3px solid #FF0066;
  border-style: solid;
}
#englishtest:hover {
  background-color: #99FFFF;
}

#englishnext {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0px 20px;
  border: 3px solid #FF0066;
  border-style: solid;
}

#englishnext:hover {
  background-color: #99FFFF;
}

#output {
  width:800px;
  height:40px;
  font-size: 35px;
  color: red;
}

textarea {
  font-size: 14px;
}

.test {
  font-size: 1.3em;
}

.button {
  width: 6%;
  height: 3%;
  padding: 5px;
  border: 3px solid #0033FF;
  border-radius: 5px;
  margin: 3px;
  margin-right: auto;
  position: absolute;
  right: 12%;
  top: 11%;
}
.button:hover {
  background-color: #CCFFFF;
} 

.button-a {
  display: block;
  font-size: 18px;
  text-align: center center;
}

.button-a:hover {
  color: #EE0000;
}
